body{
    align-content: center;
    width: auto;
    margin: auto;
    padding: auto;
    text-align: center; 
    font-family: 'Roboto Slab', serif;
}

header{
    margin: 10px;
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat ;
    background-size: cover;  
}

#foto{
    width: 4.5cm;
    margin: auto;
    padding: 60px;
    display: block;
        
}

h1{
    font-size: 42px;
    text-align: center;
    background-color:#CECDCC;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
        
}

.subtitulo{
    font-size: 30px;
    text-align: center;
    background-color: #CECDCC;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}

#datos{
    font-size: 20px;
}

li{
    font-size: 20px;
    list-style: none;
    margin: 10  px;
}

span{
    font-size: 20px;
    font-weight: bold;
}

p{        
    font-style: normal;
    font-size: 20px;
    margin: 10px;
}

.newhtml a{
    text-decoration: none;
    color: black;
}

.newhtml i{
    color: #2BAF11;

    font-size: 30px;
}

footer{
    font-size: 15px;
    text-align: center;
    background-color:#CECDCC;
    font-weight: 300;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}
    
#footer{
    font-size: 25px;
    font-weight: 400;

}

a i{
    color: black;
    font-size: 30px;
    margin: 5px;
}

